
<h2>A D R I A N _ E L I N O W</h2>
<ul>
	<li>(mobile) 215-499-4242</li>
	<li>(email) adrian@codedevl.com</li>
</ul>

<h2>Profile</h2>
- Computer Science Student with 7+ years experience combined, personal and academic projects. Multiple Student Organization Officerships. Fast, adaptive, and passionate learner with extensive personal experience.<br>
<br>
<h2>Work Experience</h2>
<ul>
	<li>Web Design Consultant (Short Term)<br>
		Shocker Media — 2019<ul>
	- Web Design consulting, UX/UI design, Database integration design, and Prototyping for local media group.<br>
	<strong>Used PHP, SQL, Wordpress, HTML/CSS/Javascript</strong> <br>
	- Relevant Media Link: 
	<a href="https://drive.google.com/drive/folders/1E4856vifJagooPYhebhCRDPnMxNWqA23?usp=sharing">Google Drive</a>
	</ul>
	</li>
	<br>
	<li>
	<strong>Network Architect (Short-Term)<br>
	Fledgling Bitcoin Mine — 2015</strong><br>
	- Organized GPU mining clusters into addressable subnets to dynamically reallocate cluster resources to mine most profitable cryptocurrency on periodic basis.<br>
	<strong>Used Python, Linux, Cryptocurrency Mining API</strong><br>
	</li>
	<br>
		<li><strong>Club Secretary (Multiple Academic Clubs)<br>
	- WCU Computer Science Club — (2020-Present)<br>
	- WCU Competitive Programming Club — (2019-Present)</strong>
	</li>
</ul>


<h2>PERSONAL PROJECTS</h2>
Bitbucket — <a href="https://bitbucket.org/adrianelinow/">https://bitbucket.org/adrianelinow/</a><br><br>


Fencing Score Box<br>
<ul>
- Working prototype for Olympic Fencing score box. Hardware and Software implementations. Designed and built for WCU Fencing club.<br>
<strong>Used Arduino IDE (C / C++), Microelectronics.</strong><br>
- Relevant Media Link: <a href="https://bitbucket.org/adrianelinow/fencing-scorebox/">https://bitbucket.org/adrianelinow/fencing-scorebox/</a>
</ul>
<br>
<h2>Education</h2>
West Chester University of Pennsylvania<br>
- Bachelor’s Degree in Computer Science, 2022
<br><br>
<h2>Skills</h2>
Python • Java • C# • C++ • SQL • Unix Environments • Regular Expressions
